@import '../../styles/scss/colors.scss';

.head {
    background-color: $white !important;
    padding: 1rem 1.5rem;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.link {
    color: $darkBlue;
}

// dark-mode
.darkMode {
    background-color: $darkGrey !important;
}

.darkMode .title {
    color: $white;
}