@import '../../styles/scss/colors.scss';
@import '../../styles/scss/variables.scss';

.container {}

.container.show {}

.toggler {
    font-size: 30px;
    color: $white;
}

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 100vh;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    background-color: $lightBlue;
    transition: all $timeSm;
    opacity: 0;
    z-index: $maxLayer;
    padding: 1rem 2rem;
}

.show .menu {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
}

.phone,
.link {
    color: $white;
    font-size: 14px;
    display: inline-block;
    line-height: 45px;
    height: 45px;
}

.phone:not(:first-child) {
    margin-left: 1rem;
    position: relative;
}

.phone:not(:first-child) {
    margin-left: 1rem;
    position: relative;
}

.phone:not(:first-child)::before {
    position: absolute;
    content: ';';
    left: -.6rem;
}

.link {
    
    display: flex;
    align-items: center;
    align-content: center;

    > span:last-child {
        margin-left: .5rem;
    }

}


.navLink {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0;
    transition: background-color $time;
    color: $white;
    font-size: 15px;
    background-color: $lightBlue;
    width: 100%;

    &:hover,
    &.active {
        background-color: $darkBlue !important;
    }

    &.active {
        text-indent: 1rem;
    }

}

.plus {

    background-color: $white;
    color: $darkBlue;
    transition: all $time;
    height: 45px;
    line-height: 45px;
    padding: 0 1rem;
    align-items: center;
    width: 100%;

    .plusRound {
        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: $darkBlue;
        border-radius: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $white;
        margin-right: .5rem;
    }

    &:hover {

        background-color: $darkBlue;
        color: $white;

        .plusRound {
            background-color: $white;
            color: $darkBlue;
        }

    }

}

// dark-mode

.darkMode {

    .menu {
        background-color: $darkGrey2;
    }

    .navLink {

        background-color: $darkGrey2;

        &:hover,
        &.active {
            background-color: $darkGrey !important;
        }

    }

    .plus {

        background-color: $white;
        color: $darkGrey;
    
        .plusRound {
            background-color: $darkGrey;
        }
    
        &:hover {
    
            background-color: $darkGrey;
            color: $white;
    
            .plusRound {
                background-color: $white;
                color: $darkGrey;
            }
    
        }
    
    }

}