
  

$darkBlue: rgb(59, 130, 246);
$lightBlue: rgb(96, 165, 250);
$lightBlue2: rgb(167, 205, 250);
$white: white;
$opacitiedWhite: rgba(255, 255, 255, .6);
$lightGrey: rgb(243, 240, 240);
$darkGrey: #283737;
$darkGrey2: #4c5e5e;
$darkGrey3: #7d8e8e;
$yellow: rgb(218, 218, 28);
$red: red;
$black: black;

// rgb(59 130 246);


