body {
    background-color: $lightGrey;
}

html, 
body {
    scroll-behavior: smooth;
}

body.dark-mode {
    background-color: $black;
}

* {
    -webkit-tap-highlight-color: transparent; 
    tap-highlight-color: transparent;
}