.slick-track {
	float: left !important;
}

// slider-spacing
.slider-spacing-sm .slick-slide > div {
	margin: 0 .8rem !important;
}

.slider-spacing-sm .slick-list {
	margin: 0 -.8rem !important;
}

// arrows
.hidden-arrows .slick-arrow {
    display: none !important;
}

// hide-bugs
@media (max-width: 991.98px) {

    .hide-slick-bug .slick-track .slick-slide:last-child {
        display: none !important;
    }

}
